
.product-box{
    text-align: center;
    padding:20px;
    transition: background 0.5s ease-in;
    border-radius:30px;
    height: 250px;
}

.product-box.selected{
    background-color: #EEE; 

}


.header {
    
    height: 80px;
    margin-top:145px;
    padding:20px;
    background-color: orange;
    border-radius: 20px 20px 20px 20px;
  
 
   
}

.body{
    background-color: white;
}


.menu{
   
    padding: 250px; 
    background-image: url('http://imagenes.4ever.eu/data/download/arte/musica/gramofono,-disco-de-vinilo-167203.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header.h1{
    color: black;
    font-size: 65px;
    text-align: center;
    position: relative;
    bottom: 150px;
    font-family: sans-serif,arial; 
}

.penguin{
        width: 175px;
        height: 175px;
        position: relative;
        left: 1100px;
        
    }


.boton{
	color: red;
	font-size: 50px;
	font-family: sans-serif,arial; 
	text-align: center;
	position: relative;
    bottom: 125px;
}